@import url('https://fonts.googleapis.com/css?family=Cabin');
$yellow: #ffb70f;
$grey: #949494;
$black: #212121;
$green: #3d9991;

body {
  font-family: 'Cabin', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  font-size: 1em !important;
}
input {
  font-family: 'Cabin', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  font-size: 1.5em !important;
}
button {
  font-family: 'Cabin', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  font-size: 1.5em !important;
}
